@tailwind base;
@tailwind components;
@tailwind utilities;

:root {}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-y: hidden;
}



.bottomMenu-shadow {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.pen::after {
  content: "";
  position: absolute;
  z-index: 2;
  border: 12px solid grey;
}

@media (prefers-color-scheme: dark) {
  :root {}
}