@tailwind base;
@tailwind components;
@tailwind utilities;

:root {}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-y: hidden;
}



.bottomMenu-shadow {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}



.pen::before {

  border: 8px solid #d8d8d8;
  border-radius: 50%;
  content: "";
  height: 2rem;
  top: -2.5rem;
  padding: 1.2rem;
  position: absolute;
  background: #333333;
  width: 4rem;
  height: 4rem;
}


@media (prefers-color-scheme: dark) {
  :root {}
}